* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-decoration: none;
}
body {
  color: honeydew;
  background-color: rgb(243, 243, 243);
}

marquee {
  height: 15vh;
  width: 100%;
  background-color: rgb(16, 17, 17);
}
marquee img {
  height: 75px;
  background-color: rgba(128, 128, 128, 0.13);
  border: 10px;
  width: 150px;
  margin-top: 20px;
}

.col-md-4 h6 {
  text-align: center;
  color: tomato;
  margin-top: 30px;
  font-size: 16px;
}
.navbar-collapse {
  background-color: grey;
  font-size: 20px;
  text-align: center;
  line-height: 5px;
}
.navbar-collapse .navbar-nav a {
  color: crimson;
}
.current-nav {
  width: 200px;
  height: 2vh;
  border: 3px solid coral;
  border-radius: 20px;
  transition: 0.5s;
}
.current-nav:hover {
  background-color: cornflowerblue;
}
nav {
  display: flex;
  justify-content: space-between;
  background: grey;
  height: 15vh;
}
nav .nav-links li {
  display: inline-block;
  padding: 20px;
}
nav img {
  padding-top: 25px;
  cursor: pointer;
  margin: 40px;
}

.navbar-nav .nav-link {
  padding: 40px;
  margin-right: 50px;
}
.navbar-nav a {
  color: honeydew;
  letter-spacing: 5px;
  font-weight: bold;
}
/*=====featured section*/
.row {
  margin-top: 100px;
  margin-bottom: 100px;
}
.featured-text {
  background-color: rgba(230, 225, 225, 0.048);
  text-align: center;
  box-shadow: 0 0 10px 0;
  border: 1px solid gold;
  z-index: 1;
  transition: 0.5s;
  border-radius: 10px;
  width: 100%;
  height: 35vh;
  margin: 20px;
  padding: 20px;
}
.featured-text p {
  font-size: 24px;
  color: honeydew;
}
.featured-text h3 {
  font-size: 24px;
  padding-top: 10px;
  margin-top: 30px;
}
.featured-text:hover {
  background: rgba(14, 179, 255, 0.171);
  z-index: 1;
  transform: translatey(-5%);
}

.featured-text img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  height: 10vh;
  margin: 0 auto;
}
.text-3 p {
  text-align: center;
  font-size: 24px;
  padding: 20px;
  font-weight: 500;
}
section {
  background-image: linear-gradient(
      rgba(17, 97, 121, 0.918),
      rgba(31, 21, 3, 0.863)
    ),
    url("../images/banner-1.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.4;
  transition: ease-in 0.7s;
}
section:hover {
  opacity: 0.9;
  transition: 0.6s ease;
  transition: ease-out 0.6s;
}

.main-features {
  text-align: center;
  box-shadow: 0 0 20px 0;
  border: 1px solid rgb(255, 196, 0);
  z-index: 1;
  transition: 0.5s;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 95%;
  height: 35vh;
}
.main-features:hover {
  background: rgba(197, 108, 5, 0.418);
  z-index: 1;
  transform: translateX(8%);
}
.main-features p {
  padding: 20px;
  font-size: 24px;
  color: #fff;
}
.main-features h3 {
  color: #fff;
  padding-top: 20px;
  margin-bottom: 10px;
}
.icons-box img {
  display: block;
 margin-right: auto;
 margin-left: auto;
 width: 100px;
 height: 10vh;
 margin: 0 auto;
  
 
}

article h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
article p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 50px;
}

.row-quote {
  background: grey;
  margin-top: 70px;
  margin-bottom: 70px;
}
.row-quote p {
  text-align: center;
  font-size: 24px;
  padding-top: 30px;
  font-weight: bold;
}

.row-partners {
  box-shadow: rgb(69, 147, 219) 3px 3px 6px 0px inset,
    rgba(136, 131, 131, 0.925) -3px -3px 6px 1px inset;
  margin-top: 50px;
  margin-bottom: 60px;
}
/*======Info section========*/
.about-text {
  background-color: rgb(41, 40, 40);
  margin: 15px;
  font-size: 20px;
  box-shadow: rgba(240, 166, 6, 0.849) 1.95px 1.95px 2.6px;
  border-radius: 20px;
  width: 100%;
  height: 40vh;
  padding-left: 10px;
  padding-right: 10px;
}
.about-text:hover {
  transform: translateX(-5%);
  transition: 0.5s ease-in;
  background-color: rgba(199, 136, 18, 0.596);
}
.about-text ul li {
  list-style: none;
  text-align: center;
  text-align: left;
}
.about-text h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
}
.about-text a {
  font-size: 20px;
  text-decoration: none;
  margin-top: 20px;
  font-size: 18px;
  color: honeydew;
}
.about-text a:hover {
  color: rgb(27, 27, 26);
}
.about-text img {
  display: block;
 margin-right: auto;
 margin-left: auto;
 width: 100px;
 height: 10vh;
 margin: 0 auto;
}
.icons-4 {
  color: crimson;
  padding-right: 10px;
}
/*=======footer section======*/
.row-social {
  padding-top: 20px;
  background-color: rgb(16, 17, 17);
  box-shadow: rgb(252, 185, 1) 0px 4px 12px;
  width: 100%;
}
.social-icons {
  margin-right: auto;
  text-align: center;
  color: honeydew;
  width: 100%;
  height: 18vh;
  margin: 20px;
}

.social-icons span {
  margin: 20px;
}
.social-icons h4 {
  margin-bottom: 30px;
}
.social-icons p {
  font-size: 20px;
}
.icons-5 {
  font-size: 60px;
  padding-top: 30px;
}
.icons-5:hover {
  color: rgb(20, 207, 220);
  cursor: pointer;
}
.icons-6 {
  font-size: 40px;
  color: rgb(9, 222, 250);
}
.far {
  color: red;
}
.copy {
  width: 100%;
}
.copy p {
  text-align: center;
  margin-top: 20px;
  color: honeydew;
  font-size: 20px;
}
/*=====accordion-collapse section========*/
.accordion-section .card {
  margin-bottom: 10px;
  box-shadow: rgba(245, 150, 8, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition: 0.3s ease;
  background-color: rgba(131, 129, 129, 0.856);
}
.accordion-section {
  margin-bottom: 50px;
}
.accordion-section .card p {
  font-size: 20px;
  color: rgb(15, 7, 7);
}
.accordion-section .card ul li {
  padding-left: 10px;
  margin-left: 20px;
  color: rgb(15, 7, 7);
  font-size: 18px;
}
.accordion-section .card:hover {
  background-color: rgb(185, 144, 8);
}
.accordion-section .card .a {
  color: rgb(5, 4, 4);
}
.card-header a {
  font-size: 20px;
  color: honeydew;
  font-weight: 400;
}
.card-header a:hover {
  color: rgb(0, 10, 71);
}
.card-header p {
  font-size: 24px;
  color: honeydew;
}
.container .card-header {
  margin: 5px;
  box-shadow: rgba(219, 218, 218, 0.521) 2.4px 2.4px 3.2px;
  background-color: rgb(128, 128, 128);
}

.horizon {
  display: flex;
  justify-items: center;
  margin: auto;
  background-color: goldenrod;
  height: 8px;
  width: 10%;
  border-radius: 10px;
  box-shadow: rgba(250, 173, 7, 0.459) 0px 1px 4px;
  margin-bottom: 30px;
}
.content {
  text-align: center;
}

.service h4 {
  text-align: center;
  padding-top: 10px;
}
.service p {
  text-align: center;
  font-size: 18px;
  padding: 15px;
  font-weight: 500;
}
.service {
  box-shadow: rgba(255, 188, 5, 0.815) 0px 1px 4px;
  width: 100%;
  height: 45vh;
  margin: 20px;
  background-color: rgba(167, 166, 166, 0.027);
  border-radius: 20px;
  padding: 10px;
  transform: translate(5%);
}
.service:hover {
  background-color: rgba(218, 165, 32, 0.76);
  transition: 0.6s;
}

/*=====About section========*/

.vision {
  width: 100%;
  height: 45vh;
  box-shadow: rgba(228, 158, 8, 0.192) 0px 10px 36px 0px,
    rgba(53, 39, 3, 0.164) 0px 0px 0px 1px;
  margin: 10px;
  border-color: goldenrod;
  border: 5px solid goldenrod;
  border-radius: 5px;
}
.vision h3 {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
.vision p {
  text-align: center;
  font-size: 18px;
  padding: 10px;
}
.col-md-12 {
  margin-top: 20px;
  height: 20vh;
  font-size: 30px;
  text-align: centers;
}

.explore-btn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 20%;
  height: 7vh;
  border-radius: 20px;
  background-color: rgb(5, 138, 179);
  box-shadow: rgba(240, 147, 8, 0.35) 0px 5px 15px;
}
.explore-btn:hover{
  color :rgb(245, 162, 9);
}
.explore-btn p {
  text-align: center;
  font-family: cursive;
  padding:10px;
  position: relative;
  animation-name: explore;
  animation-duration: 4s;
}
@keyframes explore {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(30px);
    color: coral;
  }
  50% {
    transform: translateX(-30px);
    color: rgb(80, 185, 255);
  }
  75% {
    transform: translateX(15px);
    color: rgb(161, 161, 161);
  }
}
.years{
  height: 5vh;
  color: coral;
  border-width: 50px;
  border: 3px solid coral;
  position: relative;
  animation-name: years;
  border-radius: 100px;
  animation: years 2s infinite forwards;
 
}

@keyframes years {
0%{border-color: skyblue;transform: scale(1);}
25%{border-color: rgb(252, 154, 8);transform: scale(1);}
50%{border-color: rgb(238, 72, 6);transform: scale(1);}
75%{border-color: rgb(202, 202, 202);transform: scale(1);}
100%{border-color: rgb(202, 202, 202);transform: scale(1);}
}
.years h1{
  font-size: 24px;
  text-align: center;
  font-family: cursive;
}

.img-a {
  width: 100%;
  height: 15vh;
  padding-top: 20px;

  transition: 0.5s ease;
  border-radius: 20px;
}
.row-last p {
  font-family: cursive;
  font-size: 20px;
}
.row-last {
  box-shadow: rgba(245, 183, 11, 0.37) 0px 5px 15px;
  border: 5px solid goldenrod;
  border-radius: 5px;
}
.row-what h1 {
  text-align: center;
}
/*=====Contact section========*/
label {
  font-size: 18px;
  font-weight: 600;
}

input {
  width: 100%;
  height: 40px;
  outline-color: rgb(196, 130, 7);
  size: 5px;
  border-radius: 5px;
  border: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(245, 150, 9, 0.473) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
::placeholder {
  font-size: 20px;
  font-family: cursive;
  padding-left: 70px;
}
.form-row {
  margin: 20px;
}
select {
  font-size: 20px;
  font-family: cursive;
  padding-left: 70px;
  background-color: rgb(179, 119, 9);
}
option {
  font-size: 20px;
  padding-left: 70px;
  background-color: rgb(204, 142, 9);
}
.selected {
  font-family: cursive;
}
textarea {
  height: 15vh;
  border: 3px solid rgb(192, 190, 187);
  width: 100%;
  outline-color: rgb(189, 142, 13);
  background-color: rgb(255, 255, 255);
}

.row.wrapper {
  display: flex;
  width: 100%;
  padding: 20px;
  margin: 20px;
}
.wrapper {
  margin: 10px;
}
.card-1 img {
  height: 15vh;
  width: 90%;
}

main {
  background-image: linear-gradient(
      rgba(17, 97, 121, 0.918),
      rgba(31, 21, 3, 0.863)
    ),
    url("../images/featured-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
.counter-section {
  padding: 1px;
  margin: 10% auto;
  color: tomato;
}
.icon-box {
  border: 3px dotted crimson;
  height: 100px;
  width: 100px;
  transform: rotate(45deg);
  border-radius: 5px;
  margin: 20px auto;
}
.icons-counter {
  font-size: 50px;
  padding: 20px;
  transform: rotate(-45deg);
}

.counter-box p {
  font-size: 20px;
  text-align: center;
}
.counter-box .counter {
  font-size: 50px;
}
.btn-warning {
  max-width: 500px;
  padding: 10px;
  margin: 10px;
}
.btn-warning p {
  font-size: 18px;
}

/*=====Testimonails section========*/
.test:hover {
  width: 350px;
  height: 460px;
  transition: width 6s, height 4s;
  opacity: 1;
}
.test {
  width: 100%;
  margin: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 20px;
  height: 300px;
  opacity: 0.2;
  word-wrap: normal;
  border-radius: 0 20px 0 20px;
  box-shadow: rgba(240, 217, 13, 0.644) 0px 13px 27px -5px,
    rgba(247, 164, 11, 0.651) 0px 8px 16px -8px;
}
.testimony {
  margin-right: auto;
  margin-left: auto;
}
.test p {
  font-size: 14px;
  text-align: center;
  font-style: italic;
  color: honeydew;
}
.testimony-img img {
  width: 50%;
  height: 50%;
  border-radius: 100%;
  opacity: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition-duration: 7000ms;
}

.testimony-img img:hover {
  opacity: 1;
  transition: 0.4s ease-out;
}
.testimony-img h3 {
  padding-top: 20px;
  opacity: 0;
  font-size: 22px;
  text-align: center;
  font-style: italic;
  color: coral;
}
.testimony-img h3:hover {
  transition: 0.1s;
  opacity: 1;
  transition-duration: 4000ms;
}

/*=======Team section=======*/
.team{
position: relative;
width: 100%;
}

.profile img{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 10px;
  box-shadow: rgba(5, 159, 248, 0.411) 0px 2px 8px 0px;
}
.team:hover .overlay{
  bottom: 0;
  height: 100%;
  transition: 0.6s ease-in;
}
.team h4{
  padding-top: 30px;
  margin-bottom: 30px;
}
.overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  border-radius:  0 10px;
  background-color: #7b868a;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.overlay p h3{
  white-space: nowrap; 
  color: honeydew;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.intouch{
  text-align: center;
  width: 150px;
  height: 5vh;
  padding: 10px;
  border-radius: 10px;
  background-color: coral;
  margin: 0 auto;
  padding-bottom: 20px;
}
.intouch:hover{
  background-image: url('../images/logo.png');
  object-fit: cover;
  background-color:transparent;
  border: 2px solid coral;
  
}
.name h3{
  letter-spacing: 3px;
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
  color: coral;
  font-family: cursive;
  margin-bottom: 50px;
}
